* {
    margin: 0;
    padding: 0;
    
}
body {
    background-image:url(OIP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay-container {
    position: relative;
    width: 300px;
    height: 510px;
    border-radius: 10%;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(225, 225, 225, 0.10);
}

#sign {
    padding-top: 5%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#sign input {
    border: none;
    border-bottom: solid black 1px;
    background: transparent;
    padding: 9% 6%;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}
span{
    text-align: center;
    margin-top: 10%;
}
span a{
    text-decoration: none;
}
#sign button {
    color: white;
    background-color: rgb(46, 181, 243);
    border: none;
    border-radius: 3%;
    padding: 4% 10%;
    margin-top: 20px;
}
#sign img{
    margin-top: 5%;
}
#overlay div td{
    justify-content: center;
}
#sign h6{
    text-align:right;
    color: rgb(57, 120, 255);
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin:3px;
  border-radius: 50%;
  margin-top: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.error-message {
    color: red;
    font-size: 10px;
    margin-top: 2px;
    text-align: left;
}